<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sign in error</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome tik !</h1>
		<div><p>Email : <%= curEmail%></p></div>
		<div><p>Nickname : <%= curNickname%></p></div>
		<h1>Sorry.</h1>
		<h3>You dont have a posting. : )</h3>
		<br><br><a href="/process/main">Go back</a>
	</body>
</html>