<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<title>Sign in error</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Sorry.</h1>
		<h3>You need to Signin. : )</h3>
		<br><br><a href="/process/signin">signin</a>
	</body>
</html>