<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<title>Main</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<div style="float:right">
		<a href="/process/signin">Sign in</a> | 
		<a href="/process/signup">Sign up</a>
		</div>
		<h1>Welcome to TiK !</h1>
		<br><br>
		<%- include pagination.ejs%>
		<br>
		<tr>
			<td colspan="5">
				<% 
					for(var j=0; j<results.length/4; j++) {
				%>
					<a href="/process/main/<%= j+1%>"><%= j+1%></a>&emsp;
				<%
					}
				%>
			</td>
		</tr>
	</body>
</html>