<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
	</head>
	<body>
		<h1>Welcome tik !</h1>
		<a href="/process/signin">signin</a>
		<br><br><a href='/process/signup'>signup</a>
		<br><br><%# 밑에 flagpath도 가져와서 타이틀 옆에 보이게하자.%>
		<%
			for(var i =0; i < results.length; i++) { 
				var curTitle = results[i].title; %>
			<li>#<%= i%> - Title : <a href="/process/showpost"><%= curTitle %></a></li><br>
		<% } %>
	</body>
</html>