<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>
		<script>
			window.onload = function() {
				<%- include searchTag.js%>
			}
		</script>
		<title>Intro</title>
	</head>
	<body>
		<form method="get" method="/process/searched" id="searched">
			<input type="hidden" value="" id="gettag" name="gettag">
		</form>
		<div class="ui search" style="float:left">
			<div class="ui icon input right">
				<input class="prompt" type="text" placeholder="Search tag...">
				<i class="search icon"></i>
			</div>
			<div class="results"></div>
		</div>
		<a href="/process/main" style="font-size:23px;float:right"><img src="../../images/logo.png" style="width:70px"></a>
		<hr style="margin-top:50px">
		<div style="text-align:right;width:100%;padding-bottom:20px">
			<a href="/process/signin" style="color:green">Sign in</a> | 
			<a href="/process/signup" style="color:green">Sign up</a> |
			<a href="/process/intro" style="color:green">About TiK</a>
		</div>
		<div class="ui container" style="padding-bottom:20px">
			<div class="ui basic center aligned segment">
				<div class="ui blue segment" style="margin-bottom:30px;padding:10px">
					<div style="font-size:15px;font-height:20px"><img src="../../images/double_quote1.png" style="width:25px;height:30px"> <strong>We will purchase your review.</strong> <img src="../../images/double_quote2.png" style="width:25px;height:30px"></div> 
					<div style="font-size:15px;text-align:right;padding-top:10px">- Harris Lim</div></div>
				<div style="padding:10px">Hi guys. We are TIK(Travel In Korea).<br>We want to make a travel plans for foreigners who want to travel in Korea without the cost. Nowadays there are too many travel companies all over the world.<br>The travel plans are uploaded on their website and travelers have to choose one type of their plans.<br>Plans which is uploaded in website is not focus on travelers. That is just companies idea.<br>But TIK is different. We consider travelers travel style! We ask your travel style at Ask page(you can see after signin) and try to make a good travel plans for you. We want to help your free traveling in Korea and can <strong>be your travel helpers.</strong><br><br>You can see the under images how to use TIK!<br>Thank you.</div>
				<div class="ui mini steps" style="padding-bottom:20px">
					<div class="step">
						<i class="add user icon"></i>
						<div class="content">
							<div class="title">Sign up</div>
							<div class="description">Be TiK's member</div>
						</div>
					</div>
					<div class="step">
						<i class="mail icon"></i>
						<div class="content">
							<div class="title">Ask</div>
							<div class="description">Let me know your travel information</div>
						</div>
					</div>
					<div class="step">
						<i class="map icon"></i>
						<div class="content">
							<div class="title">Get a travel plan</div>
							<div class="description">Just a second. you can get plan in your mail</div>
						</div>
					</div>
					<div class="step">
						<i class="plane icon"></i>
						<div class="content">
							<div class="title">Travel in Korea</div>
							<div class="description">Enjoy your travel</div>
						</div>
					</div>
					<div class="step">
						<i class="edit icon"></i>
						<div class="content">
							<div class="title">Write a review</div>
							<div class="description">Don't mind short or long in your own language</div>
						</div>
					</div>
				</div>
				<div style="text-align:right">
					<strong style="vertical-align:text-top;height:150px">Written by Harris Lim</strong>
					<img src="../../images/i.png" style="">
				</div>
			</div>
		</div>
	</body>
</html>