<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>My post</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<br> <h2>Hello. <%= curNickname%> !</h2>
		<a href="/process/mypost">My post</a>
		<br><br><a href='/process/myinfo'>My info</a>
		<p>
		<% if(results.length === 0) {%>
			You don't have a posting. <br>
		<% } else {%>
			<%	
				for(var i =0; i < results.length; i++) { 
					var curTitle = results[i].title;
					var curMemberId = results[i].members_id;
					var curPostnum = results[i].postnum; %>
				<li>#<%= curPostnum%> - Title : <a href="/process/showpost?postnum=<%=curPostnum%>"><%= curTitle %></a></li><br>
			<% } %>
		<% } %>
		<a href="/process/main">to main</a>
	</body>
</html>