<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>My post</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<br> <h2>Hello. <%= curNickname%> !</h2>
		<br><br><a href="/process/addpost">Add post</a>
		<br><br><a href="/process/mypost">My post</a>
		<br><br><a href='/process/myinfo'>My info</a>
		<p>
		<% if(results.length === 0) {%>
			You don't have a posting. <br>
		<% } else {%>
			<%- include pagination.ejs%>
		<% } %>
		<br>
		<tr>
			<td colspan="5">
				<% 
					for(var j=0; j<results.length/4; j++) {
				%>
					[ <a href="/process/mypost/<%= j+1%>"><%= j+1%></a> ]
				<%
					}
				%>
			</td>
		</tr>
	</body>
</html>