<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Postlist</title>
	</head>
	<body>
		<h1>Welcome tik !</h1>
		<div><p>Email : <%= email%></p></div>
		<div><p>Nickname : <%= nickname%></p></div>
		<br><br>Add Post
		<br><br><a href="/process/signout">signout</a>
	</body>
</html>