<script>
	function resend() {
		$('#submit_resend').submit();
	}
	function permission() {
		$('#submit_permission').submit();
	}
	
	function requestManager() {
		alert('You do not have an authority.\nPlz, Request to manager.');
	};
</script>
<form method="get" action="../../process/main/1" id="searched">
	<input type="hidden" value="" id="gettag" name="gettag">
</form>
<div class="ui search" style="float:left">
	<div class="ui icon input right">
		<input class="prompt" type="text" placeholder="Search tag...">
		<i class="search icon"></i>
	</div>
	<div class="results"></div>
</div>
<a href="/process/main" style="font-size:23px;float:right"><img src="../../images/logo.png" style="width:70px"></a>
<hr noshade style="margin-top:50px">
<div style="text-align:right;width:100%"> 
	<% if(nickname === "harrislim") {%> <%# permission code %>
		<a href="/process/authorize" style="color:green">Authorizing</a> | 
	<% } %>
	<% if(permission === null) { %> 
		<div class="ui form">
		<h3 style="color:red;margin:0px">you've not verified email yet.</h3>
		<h3 style="color:blue;margin:0px"><%=permissionMessage%></h3>
			<form method="post" action="/process/permission" id="submit_permission">
			</form>
			<form method="post" action="/process/resend" id="submit_resend">
			</form>
			<a href="javascript:permission();" style="color:red" id="permission">Permission</a> | 
			<a href="javascript:resend();" style="color:red" id="resend">Resend</a><br>
			<a href="/process/myinfo" style="color:green">My info</a> | 
			<a href="/process/signout" style="color:green">Sign out</a> |
			<a href="/process/intro" style="color:green">About TiK</a>
		</div>
	<% } else {%>
	<a href="/process/ask" style="color:green">Ask</a> | 
	<% if(countMypost < curPermissionpost) {%>
			<a href="/process/addpost" style="color:green">Add post</a> | 
		<% } else {%>
		<a href="" onClick='requestManager()' style="color:green">Add post</a> | 
		<%} %>
		<a href="/process/mypost" style="color:green">My post</a> | 
		<a href="/process/myinfo" style="color:green">My info</a> | 
		<a href="/process/signout" style="color:green">Sign out</a> |
			<a href="/process/intro" style="color:green">About TiK</a>
	<% } %>
	<div>
		<div><p><i class="address card outline icon"></i> <%= email%></div>
		<div><p><img src="../../flags-mini/<%=signTld%>.png"> <%= nickname%></div><br>
	</div>
</div>
