<script>
</script>	
<a href="/process/main"><h3>Talk<br>T ik</h3></a>
<hr>
<div style="float:right"> 
	<% if(permission === null) { %> <%# permission code %>
		<div class="ui form" style="text-align:right">
			<form method="post" action="/process/permission">
				<h3 style="color:red">you've not verified email yet.</h3> <input	type="submit" value="Permission" id="permi">
			</form> 
			<a href="/process/myinfo">My info</a> | 
			<a href="/process/signout">Sign out</a>
		</div>
	<% } else {%>
		<a href="/process/addpost">Add post</a> | 
		<a href="/process/mypost">My post</a> | 
		<a href="/process/myinfo">My info</a> | 
		<a href="/process/signout">Sign out</a>
	<% } %>
	<div style="text-align:right">
		<div><p><i class="address card icon"></i> <%= email%></div>
		<div><p><img src="../../flags-mini/<%=signTld%>.png"> <%= nickname%></div><br>
	</div>
</div>