<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Show post</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Written by  !</h1>
		<%= results[0].title%>
		<p>
		<a href="/process/main">to main</a>
	</body>
</html>