<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>Add Post</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>

			var checkPWBu = 0;
			var checkNickBu = 0;

			function checkPW() {
				var firPW = $("#firPW").val();
				var secPW = $("#secPW").val();

				if((firPW || secPW) === "") {
					alert('Check password again.');
				} else if(firPW === secPW) {
					alert('Chceked password.');

					checkPWBu++;
				} else {
					alert('Check password again.');
				}
			};

			function duchNickname() {
				var arrNick = [];
				console.log("<%=arrNick%>")
				arrNick = "<%=arrNick%>".split(',');

				var curNick = $('#nickname').val();
				var nicks = arrNick;
				if(curNick === "") {
					alert('Fill box plz.');
				} else if(nicks.indexOf(curNick) === -1) {
					console.log('hi');
					alert('OK.');
					checkNickBu = 1;
					console.log('checkNickBu-> ' + checkNickBu);

				} else {
					console.log('bye');
					alert('already existed nickname.');
					console.log('checkNickBu-> ' + checkNickBu);
				}
			};

			function checkEmpty() {
				var nickname = $("#nickname").val();
				var email = $("#email").val();
				var country = $("#country").val();
				if(checkNickBu === 0) {
					alert('Push [Duplication check] button');
				}
				else if(checkPWBu === 0) {
					alert('Push [Check password] button.');
				} else if(nickname && email && country) {
					$("#signup").submit();
				} else {
					alert('you need to fill empty box except Instagram ID.')
				}
			};

			$(function() {
			});

		</script>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome my new friend !</h1>
	<h1>Tik sign up !</h1>
   	<br><br>
		<form method="post" action="/process/signup" id="signup">
			<table>
				<tr>
					<td><label>Nickname : </label></td>
					<td><input type="text" name="nickname" id="nickname"></td>
					<td><input type="button" value="Duplication check" onClick="duchNickname()"></td>
				</tr>
				<tr>
					<td><label>Email : </label></td>
					<td><input type="email" name="email" id="email"></td>
					<td><input type="button" value="Verify Email"></td>
				</tr>
				<tr>
					<td><label>Password : </label></td>
					<td><input type="password" id="firPW"></td>
				</tr>
				<tr>
					<td><label>Password (repeat) : </label></td>
					<td><input type="password" name="passwd" id="secPW"></td>
					<td><input type="button" value="Check password" onClick="checkPW()"></td>
				</tr>
				<tr>
					<td><label>Country : </label></td>
					<td><input type="text" name="country" id="country"></td>
				</tr>
				<tr>
					<td><label>Age group : </label></td>
					<td>
						<select name="agegroup">
							<option value="10s"> 10s</option>
							<option value="20s"> 20s</option>
							<option value="30s"> 30s</option>
							<option value="40s"> 40s</option>
							<option value="50s"> 50s</option>
							<option value="60s"> 60s</option>
							<option value="70s"> 70s</option>
							<option value="80s"> 80s</option>
							<option value="90s"> 90s</option>
							<option value="100s"> 100s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Instagram ID : </label></td>
					<td><input type="text" name="insid"></td>
				</tr>
			</table>
			<input type="button" value="Sign Up : )" onClick="checkEmpty()">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>