<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Add Post</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1>Welcome my new friend !</h1>
	<h1>Tik sign up !</h1>
   <br><br>
		<form method="post" action="/process/signup">
			<table>
				<tr>
					<td><label>Nickname : </label></td>
					<td><input type="text" name="nickname"></td>
				</tr>
				<tr>
					<td><label>Email : </label></td>
					<td><input type="email" name="email"></td>
					<td><input type="button" value="Verify Email"></td>
				</tr>
				<tr>
					<td><label>Password : </label></td>
					<td><input type="password"></td>
				</tr>
				<tr>
					<td><label>Password (repeat) : </label></td>
					<td><input type="password" name="passwd"></td>
					<td><input type="button" value="Check password"></td>
				</tr>
				<tr>
					<td><label>Country : </label></td>
					<td><input type="text" name="country"></td>
				</tr>
				<tr>
					<td><label>Age group : </label></td>
					<td>
						<select name="agegroup">
							<option value="10s"> 10s</option>
							<option value="20s"> 20s</option>
							<option value="30s"> 30s</option>
							<option value="40s"> 40s</option>
							<option value="50s"> 50s</option>
							<option value="60s"> 60s</option>
							<option value="70s"> 70s</option>
							<option value="80s"> 80s</option>
							<option value="90s"> 90s</option>
							<option value="100s"> 100s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Instagram ID : </label></td>
					<td><input type="text" name="insid"></td>
				</tr>
			</table>
			<input type="submit" value="Sign Up : )">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>