<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script>

			function checkEmpty() {
				var email = $('#email').val();
				var PW = $('#PW').val();

				if((email && PW) === "") {
					alert('Fill your Email or Password.');
				} else {

					$('#signin').submit();
				}
			};

		</script>
		<title>Sign in</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1 id="xxx">Sign in !</h1>
		<br>
		<form method="post" action="/process/signin" id="signin">
			<table>
				<tr>
					<td><label>Email : </label></td>
					<td><input type="email" name="username" id="email"></td> <%# name을 email로 하면 LocalStrategy가 못받아. 그래서 username으로 했다. %>
				</tr>
				<tr>
					<td><label>Password : </label></td>
					<td><input type="password" name="password" id="PW"></td> <%# name을 passwd로 하면 LocalStrategy가 못받아. 그래서 password 했다. %>
				</tr>
			</table>
			<div id="flashMessage" style="color:red"><br><%=signinmessage%></div>
			<input type="button" value="Sign in : )" onClick="checkEmpty()">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>