<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script>

			function checkEmpty() {
				var email = $('#email').val();
				var PW = $('#PW').val();

				if((email && PW) === "") {
					alert('Fill your Email or Password.');
				} else {

					$('#signin').submit();
				}
			};

			window.onload = function() {
				var signinMessage = $('#flashMessage').text(); <%# errorMessage가 있을 때만 빨간 박스 ? 나오게 할랬는데 안돼.%>
				if(signinMessage === true) {
					$('#flashMessage').css('display', '');
				}
			}
		</script>
		<title>Sign in</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1 id="xxx">Sign in !</h1>
		<br>
		<form method="post" action="/process/signin" id="signin">
			<div class="ui form">
					<div class="field">
						<label>Email</label>
						<input type="email" placeholder="Email" name="username" id="email">
					</div><br>
					<div class="field">
						<label>Password</label>
						<input type="password" placeholder="Password" name="password" id="PW">
					</div>
			</div>
			<h3 style="color:red"><%=signinmessage%></h3>
			<input type="button" value="Sign in : )" onClick="checkEmpty()">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>