<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script>

			function showForgotpw() {
				$('#forgot').css('display','');
			}

			function forgotpw() {
				var arrEmail = "<%=arrEmail%>".split(',');
				var tempEmail = $('#tempEmail').val();
				// console.log('arrEmail.indexOf(tempEmail) -> ' + arrEmail.indexOf(tempEmail));
				// console.log('arrEmail -> ' + arrEmail);
				$('#getEmail').val(tempEmail);

				if((arrEmail.indexOf(tempEmail) === -1) || (tempEmail === "")) {
					alert('This email is not our member.');
				} else if(confirm('Do you want to get email to ' + tempEmail + ' ?') === true) {
					$('#sendpw').submit();
					alert('OK. Check your Email.')
				} else {
					return;
				}
				
			}

			function checkEmpty() {
				var email = $('#email').val();
				var PW = $('#PW').val();

				if((email && PW) === "") {
					alert('Fill your Email or Password.');
				} else {

					$('#signin').submit();
				}
			};

			window.onload = function() {
				var signinMessage = $('#flashMessage').text(); <%# errorMessage가 있을 때만 빨간 박스 ? 나오게 할랬는데 안돼.%>
				if(signinMessage === true) {
					$('#flashMessage').css('display', '');
				}
			}
		</script>
		<title>Sign in</title>
	</head>
	<body>
		<form method="post" action="/process/sendpw" id="sendpw">
			<input type="hidden" value="" name="forgotEmail" id="getEmail">
		</form>
		<a href="/process/main" style="font-size:23px;float:right;"><img src="../../images/logo.png" style="width:70px"></a>
		<div style="text-align:left">&nbsp;<br>&nbsp;</div>
		<hr style="margin-top:12px">
		<div style="text-align:right;width:100%">
			<a href="/process/signin">Sign in</a> | 
			<a href="/process/signup">Sign up</a> |
			<a href="/process/intro">About TiK</a>
		</div>
		<h1>Sign in</h1>
		<br>
		<form method="post" action="/process/signin" id="signin">
			<div class="ui container">
				<div class="ui form" style="margin-bottom: 5px">
						<div class="field">
							<label>Email</label>
							<input type="email" placeholder="Email" name="username" id="email">
						</div><br>
						<div class="field">
							<label>Password</label>
							<input type="password" placeholder="Password" name="password" id="PW">
						</div>
				</div>
				<a href="javascript:showForgotpw()" style="color:red">forgot password ?</a><br>
				<div class="ui form" style="display:none" id="forgot">
					<input type="email" value="" placeholder="Put in your Email" id="tempEmail">
					<input class="ui secondary basic button" type="button" value="send" onClick="forgotpw()" style="margin-top:5px">
				</div>
				<h3 style="color:red"><%=signinmessage%></h3>
				<input class="ui primary basic button" type="button" value="Sign in : )" onClick="checkEmpty()">
				<a href="/process/main"><input class="ui negative basic button" type="button" value="Cancle : ("></a>
			</div>
		</form>
	</body>
</html>