<!DOCTYPE html>
<html>
	<head>
		<%- include header.ejs %>

		<script>

			function checkEmpty() {
				var email = $('#email').val();
				var PW = $('#PW').val();

				if((email && PW) === "") {
					alert('Fill your Email or Password.');
				} else {

					$('#signin').submit();
				}
			};

			window.onload = function() {
				var signinMessage = $('#flashMessage').text(); <%# errorMessage가 있을 때만 빨간 박스 ? 나오게 할랬는데 안돼.%>
				if(signinMessage === true) {
					$('#flashMessage').css('display', '');
				}
			}

			var socket = io('서버 주소');
				socket.on('connect', function(){
					//연결되었다면 반드시 도메인에 참가해야 합니다.
					//이때 푸시되는 메시지는 해당 도메인에 푸시되는 메시지들만 받아올 수 있습니다.
					socket.emit('join', {"domain" : "kdevkr@gmail.com"}, (res) => {

					});
					socket.on('pushed', function(res){
						//참가한 도메인에서 푸시된 메시지를 이제 활용하면 됩니다.
					})
					socket.on('disconnect', function(){});
				});

				//메시지를 푸시하기 위해서는 다음과 같이 요청해야 합니다.
				function push_example(){
					var dataSet = {
						message : "메시지"
					};

				$.ajax({
					url: "서버주소/push?apiKey=인증키&domain=발급된도메인",
					type: "post",
					data: dataset,
					success : function(response){
						//정상적으로 메시지가 푸시될 경우
					},
					error : function(response){
						//인증키 또는 도메인에 대한 파라미터값이 제공되지 않을 경우
						//발급된 도메인이 아닌 경우
						//발급된 도메인이나 인증키가 올바르지 않은 경우
					}
				});
			}

		</script>
		<title>Sign in</title>
	</head>
	<body>
		<a href="/process/main"><h3>Talk<br>T ik</h3></a>
		<hr>
		<h1 id="xxx">Sign in !</h1>
		<br>
		<form method="post" action="/process/signin" id="signin">
			<div class="ui form">
					<div class="field">
						<label>Email</label>
						<input type="email" placeholder="Email" name="username" id="email">
					</div><br>
					<div class="field">
						<label>Password</label>
						<input type="password" placeholder="Password" name="password" id="PW">
					</div>
			</div>
			<div id="flashMessage" class="ui error message" style="color:red"><%=signinmessage%></div>
			<input type="button" value="Sign in : )" onClick="checkEmpty()">
			<a href="/process/main"><input type="button" value="Cancle : ("></a>
		</form>
	</body>
</html>